.Linksbody{
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 95vh;
}
.Linksbody b{
  padding-top: 5px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color:rgb(60, 255, 0);
  text-align: center;
}
#Avatar{
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
}
.container{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 70px;
  background-color: rgba(126, 157, 194,.3);
  box-shadow: 2px 2px  #888888;
  border-radius: 8px;
  border: solid 1px;
  transition-duration: 0.8s;
}
.container:hover{
    background-color: rgb(53, 53, 53);
}
.container a{
  flex:1;
  font-size: 15px;
  text-decoration:none;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);  
}
.container a:hover{
  color: rgb(30, 255, 9);
}
.container img{
  height: 60px;
  margin: 5px;
  filter: brightness(150%);
  
}
.icons{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icons img{
  height: 50px; 
  filter: brightness(150%);
}
